################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PITGenerator/bin/Debug/net8.0/*
/PITGenerator/.vs/*